# Lists - on 7-3-2022

- lists are orders squence can hold more attributes 
- lists use square brakets []
- lists support index and slice
- lists support nested items
- lists can have content naumbers and string

# lists methods 

- append
- insert
- pop
- len

# lists Skills

- nested lists 
- change items
- called items
- deleted items
- add items 
- loop items
- Iterating over multiple lists simultaneously
- Merging two lists to form a list

# Lists Structre

In [7]:
list1 = [1,2,3,4,5,6]
list2 = ["i learn data science"]
list3 = ["www.d-science.com" , '150$']

In [12]:
# Called items
# Indexing
# Slicing

print(list1)
print(list1[0])
print(list1[0:1])
print(list1[1:5])
print(f" are you now how it sum list  numbers {list1} with list string{list2}")

[1, 2, 3, 4, 5, 6]
1
[1]
[2, 3, 4, 5]
 are you now how it sum list  numbers [1, 2, 3, 4, 5, 6] with list string['i learn data science']

# List methods

In [17]:
# Append - add items to list (The name varible with method)

list1.append("6")
list1.append("7")
list2.append("and data analysis")
print(list2)
print(list1)

['i learn data science', 'and data analysis', 'and data analysis']
[1, 2, 3, 4, 5, 6, '6', '6', '7', '6', '7', '6', '7']

In [24]:
#insert method ( the name varible and method)

'''
The diference between append and insert
append(add one items to list) and has one argument
insert(add tow items in list) and has tow argument
but in insert must be called the index number for item
'''
list2.insert(3 , 'and java script')
print(list2)
list1.insert(0, 0)
print(list1)

[0, 'i learn data science', 'and data analysis', 'and java script', 'and java script', 'and java script', 'and java script', 'and data analysis', 'and java script', 'and java script']
[0, 0, 0, 1, 2, 3, 4, 5, 6, '6', '6', '7', '6', '7', '6', '7']

In [27]:
# Pop method - for deleted items

'''
pop used for delete items by indexed
'''

list1.pop(2)
print(list1)

list2.pop(3)
print(list2)

[0, 0, 3, 4, 5, 6, '6', '6', '7', '6', '7', '6', '7']
[0, 'i learn data science', 'and data analysis', 'and java script', 'and java script', 'and data analysis', 'and java script', 'and java script']

In [30]:
# len - used for know num sum items

print(len(list1))
print(len(list2))

13
8

In [47]:
#Nested list

'''
in the nested lists we need to create list
inside list 
'''

numlst1 = [1,2,3,4,5]
numlst2 = [3,4,5,6,7]
numlst3 = [8,9,0,10,11]

all_lst = [numlst1 , numlst2 , numlst3] # look at here for make slice lists must be add square brakets here []

print(all_lst)

#slice nested list

print(all_lst[0][1])
print(all_lst[1][3])
print(all_lst[2][1])

[[1, 2, 3, 4, 5], [3, 4, 5, 6, 7], [8, 9, 0, 10, 11]]
2
6
9

In [51]:
# Change item in list

'''
we can change any atems in the list used by index number
lst[0] = "new item"
'''

list1[0] = "A"
print(list1)

['A', 0, 3, 4, 5, 6, '6', '6', '7', '6', '7', '6', '7']

In [53]:
# Loop items - how to use loop with lists

for x in list1:
    print(x)

A
0
3
4
5
6
6
6
7
6
7
6
7

In [58]:
#  Iterating over multiple lists simultaneously

'''
This way benifits for assign pricec or values to itmes
for example add price to phoe , add value to items ...
'''

data_analysis = ["Python" , "Pandas" , "Numpy"]
Prices = ['10$' , '15$' , '20$']

for data_analysis  , Prices in zip (data_analysis , Prices):
    print(data_analysis , Prices)

Python 10$
Pandas 15$
Numpy 20$

In [60]:
# Merging tow lists in one list

'''
in this way we used method dict
'''

data_analysis = ["Python" , "Pandas" , "Numpy"]
Prices = ['10$' , '15$' , '20$']

dictionary = dict(zip(data_analysis , Prices))
print(dictionary )

{'Python': '10$', 'Pandas': '15$', 'Numpy': '20$'}

In [71]:
# Make datafreame in lists

import pandas as pd 

'''
the data frane in lists good skils in data science
'''


data_analysis = ["Python" , "Pandas" , "Numpy"]
Prices = ['10$' , '15$' , '20$']

df = pd.DataFrame(list(zip(data_analysis , Prices )), columns = ['Courses' , 'Prices'])
df

  Courses Prices
0  Python    10$
1  Pandas    15$
2   Numpy    20$

In [78]:
# Prinrt courses and prises without data frame in list 

for Python , Pandas in zip(df.Courses, df.Prices):
    print(Python , Pandas)

Python 10$
Pandas 15$
Numpy 20$

In [79]:
# Prinrt courses and prises without data frame in dictionary

dict_data = dict(zip(df.Courses, df.Prices))
dict_data

{'Python': '10$', 'Pandas': '15$', 'Numpy': '20$'}